{# templates/Advert/index.html.twig #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
<style>
    {#
    Insérer le CSS nécéssaire
    #}
</style>
<head>
  <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  <meta charset="UTF-8">
</head>
<body>
  <h2>Recherche Formation pour membre de l'UBL</h2>
  <div class="topnav">
    <input class=bar type="text" placeholder="Formation">
    <button class=button>Rechercher</button>
  </div>
  <table id="red">
    <tr>
      <th class="red">Nom de l'établissement</th>
      <th>Composante</th>
      <th>Localisation</th>
    </tr>
    {% for element in forms %}
    <tr>
      <td>{{ element.etablissement }}</td>
      <td>{{ element.composante }}</td>
      <td>{{ element.zone }}</td>
    </tr>

    {% endfor %}
  </table>
  <p>
    Le Hello World est un grand classique en programmation.
    Il signifie énormément, car cela veut dire que vous avez
    réussi à exécuter le programme pour accomplir une tâche simple :
    afficher ce hello world !
  </p>
</body>
</html>
